
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="https://herounit.io/" 
                 class="font-weight-bold ml-1" target="_blank">Made by Hero Unit</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://github.com/serpel" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; Source Code</a> - coded by Sergio
            </div>
          </div>
        </div>
      </footer>
